/* google fonts : nunito */

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Jomhuria&family=Nunito:ital,wght@0,600;1,200;1,300;1,400&family=Open+Sans:ital,wght@1,300&display=swap");

/* FIRST */

/*  tazbeetat in the beginning for the :

        1) * elements margin:0 and so on
        2) root colors 
        4) html element 
        5) body element 
        
        
        */

:root {
  --red: #942020;
}

* {
  /* font-family: "Cairo", sans-serif; */
  /* font-family: "Jomhuria", cursive; */
  font-family: "Nunito", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transform: all 0.2s linear;
}

*::selection {
  background-color: #942020;
  color: #eee;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-color: #f0ebeb;
}
/* ------------------------------------------------------------- */

/* SECOND ==>>> Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 245, 255);
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem black;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

header .logo i {
  padding-right: 0.5rem;
  color: #942020;
}

header .navbar a {
  font-size: 2rem;
  color: #666;
  margin-left: 2rem;
}

header .navbar a:hover {
  color: #942020;
}

#menu-bar {
  font-size: 3rem;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: #666;
  display: none;
}

/* //////////////////////////////////////////// */

/* HOME SECTION */

section {
  padding: 2rem 9%;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: url(images/bg7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: #333;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
  text-transform: none;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid #942020;
  color: #942020;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  position: absolute;
  content: "";
  background: #942020;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #eee;
}

/* /////////////////////////////////////////////////// */

/* SPECIALTY SECTION */

.specialty {
  background-color: #fef;
}

.specialty .head {
  font-size: 3.5rem;
  text-align: center;
  color: #333;
  padding: 1rem;
}

.specialty .head span {
  color: #942020;
}

.specialty .big-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.specialty .big-box .box {
  flex: 1 1 40rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 1rem;
  background-color: #fff;
}

.specialty .big-box .box .image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  /* top:0;  */
  left: 0;
  object-fit: cover;
}

/* when I hover over box, what happens to image? */
.specialty .big-box .box:hover .image {
  top: 0;
  /* left: 0; */
  /* transform: translateY(3rem); */
}

/* when I hover over box, what happens to content & icon? */
.specialty .big-box .box:hover .content {
  transition: transform 0.3s linear;
  transform: translateY(100%);
}

.specialty .big-box .box .content {
  text-align: center;
  padding: 5rem;
}

.specialty .big-box .box .content img {
  margin: 2rem 0;
}

.specialty .big-box .box .content h3 {
  font-size: 2.5rem;
  color: #942020;
  /* margin-bottom: 2rem; */
}

.specialty .big-box .box .content p {
  font-size: 1.7rem;
  color: #666;
  /* margin-bottom: 2rem; */
  padding: 1rem 0;
}

/* ////////////////////////////////////// */

/* POPULAR SECTION */

.popular .head {
  text-align: center;
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
}

.popular .head span {
  color: #942020;
}

.popular .big-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.popular .big-box .box {
  overflow: hidden;
  flex: 1 1 40rem;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border: 0.5rem solid rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}

.popular .big-box .box .content {
  text-align: center;
  padding: 2rem;
}

.popular .big-box .box .content span {
  padding: 2rem;
  background-color: #c62f2f;
  border: 0.3rem solid #942020;
  color: white;
  font-size: 1.8rem;
  width: fit-content;
  position: absolute;
  content: "";
  left: 25rem;
}

/* .popular .big-box .box .content img {
  

  /* object-fit: cover; */

.popular {
  background-color: antiquewhite;
}

.popular .big-box .box .content h3 {
  font-size: 2.7rem;
}

.popular .big-box .box .content i {
  color: goldenrod;
  font-size: 2rem;
}



/* ///////////////////////////////////////////// */

/* steps section */


.steps h1 {

  text-align: center;
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
}

.steps span {
  color: #942020;
}

.steps .big-box {

  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

}


.steps .big-box .box {

  flex: 1 1 20rem;
}


.steps .big-box .box .content {
  text-align: center;

}


.steps .big-box .box .content img {
  height: 20rem;
  border-radius: 50%; 
}

.steps .big-box .box .content h5 {

  font-size: 2.3rem;
  color: #333;
  padding: 1rem;
  margin: 1rem 0;
}




/* /////////////////////////////////////// */
/* GALLERY SECTION */



.gallery {
  background-color: rgb(237, 222, 203);
}


.gallery h1 {

  text-align: center;
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
}

.gallery span {
  color: #942020;
}


.gallery .big-box {

  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .big-box .box {

  height:25rem ;
  overflow: hidden;
  flex: 1 1 40rem;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 1rem solif #dfdcdc;
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
}



.gallery .big-box .box .image {

  height: 100%;
  width: 100%;
  object-fit: cover;
  
  }


.gallery .big-box .box .content {

  text-align: center;
  background: rgba(255,255,255,0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  top:-100%;
  left: 0;
  padding: 5rem 2rem 2rem 2rem;  
  

}


.gallery .big-box .box .content h3 {


  font-size: 2rem;
  color: #282828;
  /* margin: 1.5rem 0; */
}


.gallery .big-box .box .content p {

  font-size: 1.5rem;
  color: #333;
  padding: 1rem 0;

}




.gallery .big-box .box:hover .content {

  top:0; 
  
  /* transition: transform 1s linear;
  transform: translateY(-100%) ; */
} 


/* /////////////////////////////////////////// */

/* review section  */


.review h1 {

  text-align: center;
  font-size: 3rem;
  color: #333;
  margin-bottom: 3rem;
}

.review span {
  color: #942020;
}

.review .big-box {

  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}


.review .big-box .box {
  /* flex: 1 1 20rem; */
  flex: 1 1 30rem;
  /* height: 20rem; */
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.5rem solid rgba(0, 0, 0, 0.3);
  position: relative;
  /* overflow: hidden; */
  background-color: #333;
  margin-top: 2.7rem;
}


.review .big-box .box .content {
  text-align: center;
  padding: 2rem;
  /* flex: 1 1 40rem; */
}


.review .big-box img {
  /* height: 30rem; */
  border-radius: 50%;
  border: 0.6rem solid #e8e3e3;
  position: absolute;
  content: "";
  top: -5rem;
  left: 15rem;
}




.review .big-box .box h3 {

  font-size: 2.5rem;
  color: #ddd;
  /* margin: 1rem 0; */
  margin-top: 3rem;

}

.review .big-box .box i {
  color: rgb(157, 48, 12);
  font-size: 2rem;
  margin:1rem 0;
}

.review .big-box .box .two {
  font-size: 1.7rem;
  color: #ddd;
  margin-top: 1rem;
}
/* /////////////////////////////////////////////// */

/* order section */


.order h1 {

  text-align: center;
  font-size: 3rem;
  color: #333;
  margin-bottom: 3rem;
}

.order span {
  color: #942020;
}



.order .big-box {

display: flex;
flex-wrap: wrap;
gap: 1.7rem;
padding: 2rem;
background: #faeaea;
box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);

}

.order .big-box .image {

  flex: 1 1 30rem;

}

.order .big-box form {
flex: 1 1 50rem;

}

.order .big-box .image img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 1rem;

}

.order .big-box form .box {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-bottom: 1rem; */


}

.order .big-box form .box input , .order .big-box form textarea {

  padding: 2rem;
  text-transform: none;
  color: #333;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  

}

.order .big-box form .box input {
  
  margin: 0.5rem 0;
  font-size: 2rem;
  width: 49%;
  
}

.order .big-box form textarea {

  
  width: 100%;
  margin-top: 1rem;
  resize: none;
 
}




.order .big-box form .btn {

  /* text-align: center; */
  left: 25rem;
  height: 6rem; 
  font-size: 2.1rem;
}


.order .big-box form .btn:hover {

  background-color: #c62f2f;
}

/* ////////////////////////////////////////////////////////// */

/* footer section */


.footer {


  background-color: #282828;
padding: 2rem;
/* width: 100%; */
}


/* .footer .box {

  left: 80rem;
} */


.footer .box .btn {

  left: 40rem;
  margin-right: 2rem;
  width: 20rem;
  text-align: center;
}


.footer h3 {
  text-align: center;
  font-size: 2.2rem;
  color: #666;
  margin: 2rem 0; 
}

.footer h3 span {
  color: #942020;
}

/* ///////////////////////////////////////// */

/* scroll top */


/* p {
  text-align: center;
} */





  a .fa-solid.fa-circle-up {

    padding: 1rem;
   font-size: 6rem ;
   top: 80%; 
   position: fixed;
   left: 94%;  
   border-radius: 2rem;
   transition: .5s linear;
   z-index: 10000;
  
  
  }



  a .fa-solid.fa-circle-up.active {
    top:calc(100%-100px); 
  }
/* //////////////////////////////////////////////// */

/* loader */

.loader-container {

  position: fixed;
  top: 0; left: 0;
  z-index: 10000;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;


}

.loader-container.fade-out {

top: -120%;



}















/* /////////////////////////////////////////// */
/* MEDIA QUERIES */

/* from 0 till 991 */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid rgb(0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  /* classes names should be laz2een fe b3d aka .navbar.active not .navbar .active */
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgb(0, 0, 0.1);
    border-left: 0.5rem solid #942020;
    background: #fff;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }


  .order .big-box form .box input {

width: 100%;


  }


}
